/* MAIN CONTAINER */
.aboutContainer {
  width: 100%;
  padding: 10px 32px 10px 12px;
  box-sizing: border-box;
}
/* REMOVE EXTRA CARD LOOK */
.aboutCard {
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  width: calc(100% - 24px);
  margin-right: 24px;
}

/* HEADER */
.aboutHeader {
  margin-bottom: 10px;
}

/* TITLE */
.aboutTitle {
  margin: 0 0 18px 0;
  font-family: "Segoe UI", sans-serif;
  font-weight: 600;
  font-size: 45px;
  color: #000;
}

/* IMAGE ON RIGHT */
.aboutImage {
  width: 250px;
  float: right;
  margin-left: 28px;
  margin-bottom: 12px;
  margin-top: 8px;
  object-fit: contain;
}

/* CONTENT */
.aboutContent {
  line-height: 1.95;
  font-size: 15px;
  color: #444;
  text-align: justify;
}

.aboutContent p {
  margin-bottom: 16px;
}

/* CLEAR FLOAT */
.aboutContent::after {
  content: "";
  display: block;
  clear: both;
}

/* FOOTER */
.aboutFooter {
  margin-top: 24px;
  padding-top: 12px;
  border-top: 1px solid #e5e7eb;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3px;
}

.footerMain {
  font-size: 16px;
  font-weight: 500;
  color: #2d2d2d;
}

.footerSub {
  font-size: 13px;
  font-weight: 400;
  color: #6b6b6b;
}