/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: rgb(27, 68, 110);
  --black-color: hsl(248, 24%, 10%);
  --white-color: #dde7f1;
  --body-color: #dde7f1;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --small-font-size: 0.813rem;
}
@media screen and (min-width: 1024px) {
  :root {
    --small-font-size: 0.875rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #dde7f1;
  min-height: 100vh;
  overflow-x: hidden;
  zoom: 0.8;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background-color: #dde7f1;
  display: flex;
  position: relative;
}

.sidebar {
  width: 80px;
  flex-shrink: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  margin-inline: 6rem 1rem;
  padding-block: 2rem;
}

/* ****************** */
.active-link {
  background-color: var(--white-color);
}
.active-link i {
  color: var(--first-color);
}

.content-area {
  flex: 1;
  padding: 20px 40px;
  padding-top: 30px;
  padding-left: 40px; /* reserve space for sidebar */
  min-height: 100vh;
}
/* *********************** */
.dashboard-grid {
  display: grid;

  grid-template-columns: 1fr 0.8fr 1.2fr 0.8fr;

  grid-template-areas:
    "profile announcement announcement stats"
    "completion announcement announcement stats"
    "calendar quick recent recent";

  gap: 35px;
}
.profile-area {
  grid-area: profile;
}

.completion-area {
  grid-area: completion;
}

.announcement-area {
  grid-area: announcement;
}

.stats-area {
  grid-area: stats;
}

.calendar-area {
  grid-area: calendar;
}

.quick-area {
  grid-area: quick;
}

.recent-area {
  grid-area: recent;
}
.dashboard-grid > * {
  width: 100%;
}

/* ********************* */

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .content-area {
    margin-left: 0;
    width: 100%;
  }
  .dashboard-grid {
    grid-template-columns: 1fr;
  }

  .top_header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }

  .search_container {
    width: 100%;
  }

  .profile_card,
  .progress_card,
  .announcement_card,
  .statistics_card,
  .calendar_card,
  .recent-activities-card,
  .quick_access_card {
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}
/* .scroll-page-active {
  overflow: hidden;
}
.files-page-active {
  overflow: hidden;
}
.account-page-active {
  overflow: hidden;
}
.settings-page-active {
  overflow: hidden;
} */
/* Disable dashboard scaling on Account page */